{% extends "wave.xml" %}
{% load foodtags %}
{% load markup %}
{% load comments %}
{% block title %}{{object.title}}{% endblock %}
{% block content %}
<style>
.foo img{
    height:450px;
}
</style>
<img src="{{MEDIA_URL}}images/bar_rss.png">
<div class="foo">
    <div class="clear">&nbsp;</div>
        {% get_comment_count for object as comment_count %}        
        <h1>{{ object.title }}</h1>
        <p class="credits">{{object.published_at }} | by {{object.author}} | Categories: {% for tag in object.get_tags %} <a href="/tag/{{tag}}" alt="{{tag}}" title="{{tag}}">{{tag}}</a> {%endfor%} | {{ comment_count }} comments </p>
        <p>
        <a href="{{MEDIA_URL}}{{object.pic.image}}"><img src="{{MEDIA_URL}}{{object.pic.small}}" alt="{{object.pic.title}}" height="450"></a>

        {{ object|ingredients }}
        {{ object.text|textile }}</p>
        <div class="clear">&nbsp;</div>
</div>
<script>
gadgets.window.adjustHeight();
</script>

{% endblock %}
