{% load markup_tags %}
{% load foodtags %}
<div class="post">
<img src="{{MEDIA_URL}}images/bar_rss.png">
    <div class="clear">&nbsp;</div>
        <h1><a href="http://{site.domain}/post/{{ obj.slug }}">{{ obj.title }}</a></h1>
        <p class="credits">{{obj.published_at }} | by {{obj.author}} | Categories: {% for tag in obj.get_tags %} {{tag|tagfy}} {%endfor%} | <a href="http://{{site.domain}}/post/{{ obj.slug }}#disqus_thread">comments</a> </p>
        <p>
        <a href="{{MEDIA_URL}}{{obj.pic.image}}"><img src="{{MEDIA_URL}}{{obj.pic.small}}" alt="{{obj.pic.name}}"></a>
        
        {{ obj|ingredients }}
        {{ obj.text|apply_markup:"textile" }}</p>
        <div class="clear">&nbsp;</div>
<style>
    .post{
        font-size:80%;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;  
    }
    h1,h2,h3,h4,h5,h6 { font-weight: normal; color: #333;  }

    h1 { font-size: 2.4em;  margin-bottom: 0.2em; line-height:1em; font-weight:bold; }
    p img       { float: left; margin: 0.3em 0.833em 0.833em 0; padding: 0; }
    p img.right { float: right; margin: 0.3em  0 0.833em 0.833em;  }
    .credits{color:#444334;}
    hr { margin-bottom:0.5em; color:#00002b; background-color:#00002b; height:1px; border:none;}
</style>
</div>
