{% load markup %}
{% load comments %}
<img src="{{MEDIA_URL}}images/bar_entry.png">
    <div class="clear">&nbsp;</div>
        {% get_comment_count for obj as comment_count %}        
        <h1>{{ obj.title }}</h1>
        <p class="credits">{{obj.published_at }} | by {{obj.author}} | Categories: {% for tag in obj.get_tags %} <a href="{{site.domain}}/tag/{{tag}}" alt="{{tag}}" title="{{tag}}">{{tag}}</a> {%endfor%} | {{ comment_count }} comments </p>
        <p>
        <a href="{{MEDIA_URL}}{{obj.pic.image}}"><img src="{{MEDIA_URL}}{{obj.pic.small}}" alt="{{obj.pic.name}}"></a>
        
        {{ obj.text|textile }}<p>
        <div class="clear">&nbsp;</div>

