{% extends "base.html"%}
{% load markup %}
{% block content %}
{% if object_list %}
    {% for post in object_list %}
        <div class="clear">&nbsp;</div>
        {% if forloop.first %}
            <h1><a href="/post/{{ post.slug }}">{{ post.title }}</a></h1>
            <p>
            <a href="{{MEDIA_URL}}{{post.pic.image}}"><img src="{{MEDIA_URL}}{{post.pic.small}}" alt="{{post.pic.name}}"></a>
            {{ post.text|textile }}<p>
            <p class="tags">tagged as:{% for tag in post.get_tags %}
              <a href="/tag/{{tag}}" alt="{{tag}}" title="{{tag}}">{{tag}}</a>
              {%endfor%}</p>
            <p class="credits"> published {{post.published_at }} by Adriano</p>
            
        {% else %}
            <h1><a href="/post/{{ post.slug }}">{{ post.title }}</a></h1>
            <div class="g240"><img src="{{MEDIA_URL}}{{post.pic.thumb}}"  alt="{{post.pic.name}}"></div>
            <div class="g480"><p>{{ post.text|textile|truncatewords_html:100 }}<p></div>
        {% endif %}
    {% endfor %}
{% else %}
        <div class="clear">&nbsp;</div>
    <h1>Oops no posts yet</h1>
{% endif %}

    {% if is_paginated %}

    {% for pg in page_range %}
    {% ifequal pg page %}
    {{pg}}
    {% else %}
    <a href="/?page={{pg}}">{{pg}}</a>        
{% endifequal %}
{% endfor %}
{% endif %}

{% endblock %}
