{% extends "base.html"%}
{% load foodtags %}
{% load markup %}
{% load comments %}
{% block content %}
{% if menu %}
<img src="{{MEDIA_URL}}images/bar_categories.png">
{% else %}
<img src="{{MEDIA_URL}}images/bar_latest.png">
{% endif %}
{% if object_list %}
    {% for post in object_list %}
        {% get_comment_count for post as comment_count %}
        <div class="clear">&nbsp;</div>
        {% if forloop.first %}
            <h1><a href="/post/{{ post.slug }}">{{ post.title }}</a></h1>
            <p class="credits">{{post.published_at }} | by {{post.author}} | Categories: {% for tag in post.get_tags %} <a href="/tag/{{tag}}" alt="{{tag}}" title="{{tag}}">{{tag}}</a> {%endfor%} | {{ comment_count }} comments </p>
            <p>
            <a href="{{MEDIA_URL}}{{post.pic.image}}"><img src="{{MEDIA_URL}}{{post.pic.small}}" alt="{{post.pic.name}}"></a>
            {{ post|ingredients }}
            {{ post.text|textile }}
            </p>
            
        {% else %}
            <hr/>
            <h1><a href="/post/{{ post.slug }}">{{ post.title }}</a></h1>
            <p class="credits">{{post.published_at }} | by {{post.author}} | Categories: {% for tag in post.get_tags %} <a href="/tag/{{tag}}" alt="{{tag}}" title="{{tag}}">{{tag}}</a> {%endfor%} | {{ comment_count }} comments </p>
            <div class="g240"><img src="{{MEDIA_URL}}{{post.pic.thumb}}"  alt="{{post.pic.name}}"></div>
            <div class="g480">
                <p>{{ post.text|textile|truncatewords_html:60 }}<p>
            </div>
        {% endif %}
    {% endfor %}
{% else %}
        <div class="clear">&nbsp;</div>
    <h1>Oops no posts yet</h1>
{% endif %}

<div class="clear">&nbsp;</div>
{% if page %}
<div class="g480">
    <span class="pagination current"> Pages: </span>&nbsp;
    {% if has_previous %}
        <a href="?page={{ page|add:"-1" }}" class="pagination">previous</a>&nbsp;
    {% endif %}    
    {% for pg in page_range %}
    {% ifequal pg page %}
    <span class="pagination current">{{pg}}</span>&nbsp;
    {% else %}
    <a href="?page={{pg}}" class='pagination'>{{pg}}</a>&nbsp;        
    {% endifequal %}
    {% endfor %}
    {% if has_next %}
        <a href="?page={{ page|add:"1" }}" class="pagination">next</a>
    {% endif %}    
</div>
{% endif %}
{% endblock %}
