{% extends "base.html"%}
{% load foodtags %}
{% load markup %}

{% block title %}
{{ object.title }} -- Secret Food Project
{% endblock %}

{% block content %}
<img src="{{MEDIA_URL}}images/bar_entry.png">
    <div class="clear">&nbsp;</div>
        <span class="hrecipe">
        <h1 class="fn">{{ object.title }}</h1>
        <p class="credits"> {{object.published_at }} | by <span class="author">{{object.author}}</span> | Categories: {% for tag in object.get_tags %} <a href="/tag/{{tag}}" class="tag" alt="{{tag}}" title="{{tag}}">{{tag}}</a> {%endfor%} | <a href="{{ object.full_url}}#disqus_thread" data-disqus-identifier="{{ object.slug }}">comments</a> </p>
	<p><g:plusone href="{{ object.full_url}}"></g:plusone>
    <div class="fb-like" data-href="{{ object.full_url}}" data-send="true" data-width="450" data-show-faces="true" data-font="arial"></div>
    
    </p>
        <p>
        <a href="{{MEDIA_URL}}{{object.pic.image}}"><img src="{{MEDIA_URL}}{{object.pic.small}}" class="photo" alt="{{object.pic.name}}"></a>

        {{ object|ingredients }}
	<span class="hreview-aggregate review" style="display:none;">
	<span class="rating star4">4 Stars</span>
	<span class="count">1 Vote</span>
        </span>

        <span class="instructions">{{ object.text|textile }}</span></p>
        </span>
        <div class="clear">&nbsp;</div>
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'secretfoodproject'; // required: replace example with your forum shortname

    // The following are highly recommended additional parameters. Remove the slashes in front to use.
    var disqus_identifier = '{{ object.slug }}';
    var disqus_url = '{{ object.full_url }}';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
        <div class="clear">&nbsp;</div>
        <h2>See more</h2>
        <hr/>
        <div class='nav'>
        {% if object.get_previous %}
            <div class="left">
                <a href="/post/{{object.get_previous.slug}}"><img src="{{MEDIA_URL}}{{object.get_previous.pic.thumb}}"><br>
                    <h3>Previous:{{ object.get_previous.title }}<h3></a>
            </div>
        {% endif%}
        {% if object.get_next %}
        <div class="right">
            <a href="/post/{{object.get_next.slug}}"><img src="{{MEDIA_URL}}{{object.get_next.pic.thumb}}"><br>
                <h3>Next:{{ object.get_next.title }}<h3></a>
        </div>
        {% endif%}

        </div>
{% endblock %}
