<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>


<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="shortcut icon" href="{{MEDIA_URL}}images/flavicon.ico" />
<link rel="apple-touch-icon" href="{{MEDIA_URL}}images/apple-icon.png"/>

<link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/static/css/base.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/static/css/typography.css" type="text/css" media="screen, projection">

<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://sfp.adrianopetrich.com/feeds/rss/" />
<link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="http://sfp.adrianopetrich.com/feeds/atom/" />
<meta name="Description" content="Secret food project is a food geek blog.">

<title>shhh! it's the secret food project</title>
<style>
body {background-color:#fff;}
.main{background-color:#fff;}
</style>
</head><body>
<div class="main">
    <a href="/"><div class="g960"><img src="{{MEDIA_URL}}images/logo.png" width=970 height=215 title="secret food project logo"></div></a>
    <div class="miniclear"></div>

{% block menu %}
<div class="g160">
    <img src="{{MEDIA_URL}}images/categories.png">
    <ul class="menu">
        {% for tag in categories %}
        <li><a href="/tag/{{tag}}" alt="{{tag}}" title="{{tag}}">{{tag}}({{tag.count}})</a></li>
        {% endfor %}
    </ul>
    <!--img src="{{MEDIA_URL}}images/popular.png">
    <ul class="menu">
        <li><a href="/detalhes">foobar</a></li>
    </ul>
    <img src="{{MEDIA_URL}}images/subscribe.png">
    <ul class="menu">
        <li><a href="/detalhes">foobar</a></li>
    </ul>
    <img src="{{MEDIA_URL}}images/blogs.png">
    <ul class="menu">
        <li><a href="/detalhes">foobar</a></li>
    </ul-->
    <img src="{{MEDIA_URL}}images/about.png">
    <ul class="menu">
        <li><a href="/about/me">me</a></li>
        <li><a href="/about/site">the site</a></li>
    </ul>
<div id="google_translate_element"></div><script>
function googleTranslateElementInit() {
  new google.translate.TranslateElement({
    pageLanguage: 'en'
  }, 'google_translate_element');
}
</script><script src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</div>
{% endblock%}

<div class="g800">
{% block content %}
foobar
{% endblock%}
</div>
<div class="clear">&nbsp;</div>
<div class="g960 tc"><p class="note">
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a><br />This <span xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/StillImage" rel="dc:type">work</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-Noncommercial-Share Alike 3.0 Unported License</a>.
    
    </p> </div>
<div class="clear">&nbsp;</div>

 </div>
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-185499-3");
        pageTracker._trackPageview();
        } catch(err) {}
</script>
</body></html>
