<div class="g320">
<h2>Ingredients</h2>
<hr/>
{% for measure in measurements %}
  {% if measure.ingredient %}
    <p class='ingr'>
    {{ measure.ingredient.name }}, 
    {% if  measure.amount %}
        {{ measure.metric }}
        {{ measure.imperial }}
    {% endif %}
    {% if  measure.detail %}
        {{ measure.detail }}
    {% endif %}
    </p>
  {% else %}
    {% if  measure.amount %}
        <p class="ingr">
        {% if  measure.detail %}
            {{ measure.detail }}: 
        {% endif %}
        {% if  measure.amount %}
            {{ measure.metric }}
            {{ measure.imperial }}
        {% endif %}
        </p>
    {% else %}
        <br/>
        <h3>{{ measure.detail }}</h3>
      {% endif %}
  {% endif %}
  <br/>
{% endfor %}
</div>
<br clear="all"/>
<h2>Methods</h2>
<hr/>
